{
  email admin@luchtithvichea.com
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

api.luchtithvichea.com {
  reverse_proxy 127.0.0.1:3000
}

file.luchtithvichea.com {
  reverse_proxy 127.0.0.1:8080
}

report.luchtithvichea.com {
  reverse_proxy 127.0.0.1:5488
}
