/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Helper's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.font-Moulpali {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inder', 'Moulpali', sans-serif, cursive !important;
    font-size: 14px;
}

body {
    touch-action: manipulation !important;
}

body::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}