<div class="out-create-section md-form-field-appearance-outline">
    <div mat-dialog-title class="min-h-14 max-h-14 flex gap-2 justify-between items-center py-2 pr-2.5">
        <div class="flex flex-1 items-center text-slate-500">
            <h1 class="text-3xl">ស្វែងរកអ្នកប្រើប្រាស់</h1>
        </div>
        <div class="flex items-center cursor-pointer">
            <mat-icon class="-mb-0.5" [svgIcon]="'heroicons_outline:x-mark'" (click)="closeDialog()"></mat-icon>
        </div>
    </div>

    <div class="out-create-body px-4 pb-2 border-t-2 w-full">
        <form [formGroup]="filterForm" class="out-create-content pt-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>ពេលវេលា</mat-label>
                <mat-select formControlName="timeType">
                    <mat-option *ngFor="let type of dateType" [value]="type.id">
                        {{ type.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="grid grid-cols-2 gap-4" *ngIf="filterForm.get('timeType')!.value === 'startandend'">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>ពី</mat-label>
                    <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>ដល់</mat-label>
                    <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>តួនាទី</mat-label>
                <mat-select formControlName="type" placeholder="តួនាទី">
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{ type?.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <mat-dialog-actions>
        <div class="w-full flex justify-end px-1">
            <button class="helpers-mat-button-md bg-[#264497] text-white" mat-flat-button (click)="submit()"
                [disabled]="filterForm.invalid || saving">
                <span *ngIf="!saving">ស្វែងរក</span>
                <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </mat-dialog-actions>
</div>
